@inject DreamBook.Application.Abstraction.AppLanguageManager AppLanguageManager;
@model DreamBook.Application.PostCategories.PostCategoryWithTranslationsResponseModel;
@{
    ViewData["Title"] = "Категория";
}

<div class="row">
    <div class="col-md-2">
        @await Html.PartialAsync("PartialViews/_ActionsCard", new List<(string Link, string Label, string Icon)>
        {
            (@Url.Action("Edit", "PostCategories", new{ Id = @Model.Guid }) , "Редактировать", "fa-edit"),
            (@Url.Action("Delete", "PostCategories", new{ Id = @Model.Guid }) , "Удалить", "fa-times"),
            (@Url.Action("Index", "PostCategories") , "Список категорий", "fa-list"),
            (@Url.Action("Create", "PostCategories") , "Новая категория", "fa-plus"),
        })
    </div>
    <div class="col-md-10">
        <div class="card card-info card-outline">
            <div class="card-header">
                <h3 class="card-title">@ViewData["Title"]</h3>
            </div>
            <div class="card-body">
                <div>
                    <div>
                        <div class="row">
                            <div class="col-2 col-sm-2">
                                <div class="nav flex-column nav-tabs h-100" id="vert-tabs-tab" role="tablist" aria-orientation="vertical">
                                    @{
                                        @foreach (var language in AppLanguageManager.SupportLanguages)
                                        {
                                            var activeClass = language.IsDefault ? "active" : "";

                                            <a class="nav-link @activeClass" id="vert-tabs-home-tab" data-toggle="pill" href="#vert-tabs-@language.Code" role="tab" aria-controls="vert-tabs-@language.Code">@language.Name</a>
                                        }
                                    }
                                </div>
                            </div>
                            <div class="col-8 col-sm-8">
                                <div class="tab-content" id="vert-tabs-tabContent">
                                    @{
                                        int index = 0;
                                        @foreach (var language in AppLanguageManager.SupportLanguages)
                                        {
                                            var activeClass = language.IsDefault ? "show active" : "";

                                            <div class="tab-pane text-left fade @activeClass" id="vert-tabs-@language.Code" role="tabpanel" aria-labelledby="vert-tabs-@language.Code-tab">
                                                <table class="table table-sm table-striped">
                                                    <tbody>
                                                        <tr>
                                                            <td style="width:150px">
                                                                <div class="control-label">
                                                                    <label asp-for="@Model.Translations[index].Name"></label>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div>
                                                                    @Model.Translations[index].Name
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <div class="control-label">
                                                                    <label asp-for="@Model.Translations[index].Description"></label>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div>
                                                                    @Html.Raw(Model.Translations[index].Description)
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            index++;
                                        }

                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {

}

@section Styles {
}

@section BreadcrumbItems {
    <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Главная</a></li>
    <li class="breadcrumb-item active"><a asp-controller="PostCategories" asp-action="Index">Категории</a></li>
    <li class="breadcrumb-item active">@Model.Guid</li>
}
