@model DreamBook.Application.Posts.PostResponseModel
@{
    ViewData["Title"] = "Пост";
}

<div class="row">
    <div class="col-md-2">
        @await Html.PartialAsync("PartialViews/_ActionsCard", new List<(string Link, string Label, string Icon)>
        {
            (@Url.Action("Edit", "Posts", new{ Id = @Model.Guid }) , "Редактировать", "fa-edit"),
            (@Url.Action("Delete", "Posts", new{ Id = @Model.Guid }) , "Удалить", "fa-times"),
            (@Url.Action("Index", "Posts") , "Список постов", "fa-list"),
            (@Url.Action("Create", "Posts") , "Новый пост", "fa-plus"),
        })
    </div>
    <div class="col-md-10">
        <div class="card card-info card-outline">
            <div class="card-header">
                <h3 class="card-title">@ViewData["Title"]</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="m-2 text-center col-0 col-sm-2"></div>
                    <div class="m-2 col-12 col-sm-8">
                        <div class="text-center">
                            <img id="blah" style="max-width: 100%; height: auto;" class="text-center" src="@Url.Action("GetPostImage","Posts",new { fileName = string.IsNullOrWhiteSpace(Model.Image)?"default.png" : Model.Image })" />
                        </div>
                        <br />
                        <h1 class="text-center">@Model.Title</h1>
                        <div class="comment-text text-justify">
                            @Html.Raw(@Model.Content);
                        </div>
                        <br />
                        <span class="text-uppercase h5 bg-gray-light pl-3 pr-3 p-1" style="border-radius:15px">
                            @Model.CategoryName
                        </span>
                    </div>
                </div>
            </div>
            <div class="card-footer"></div>
        </div>
    </div>
</div>

@section Scripts {

}

@section Styles {

}

@section BreadcrumbItems {
    <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Главная</a></li>
    <li class="breadcrumb-item active"><a asp-controller="PostC" asp-action="Index">Пости</a></li>
    <li class="breadcrumb-item active">@Model.Guid</li>
}
