@model DreamBook.WebApplication.ViewModels.UpdatePostWithImageRequestModel
@{
    ViewData["Title"] = "Редактирование поста";
}

<div class="row">
    <div class="col-md-2">
        @await Html.PartialAsync("PartialViews/_ActionsCard", new List<(string Link, string Label, string Icon)>
        {
            (@Url.Action("Delete", "Posts", new{ Id = @Model?.Guid }) , "Удалить", "fa-times"),
            (@Url.Action("Index", "Posts") , "Список постов", "fa-list"),
        })
    </div>

    <div class="col-md-10">
        <form asp-antiforgery="true" asp-action="Edit" asp-controller="Posts" class="form-group" enctype="multipart/form-data">
            <form asp-antiforgery="true" asp-action="Create" asp-controller="Posts" class="form-group" enctype="multipart/form-data">
                <div class="card card-info card-outline">
                    <div class="card-header">
                        <h3 class="card-title">@ViewData["Title"]</h3>
                    </div>
                    <div class="card-body">
                        <div>
                            <div class="validation" asp-validation-summary="ModelOnly"></div>
                            <div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.CategoryGuid)
                                    @Html.DropDownListFor(m => m.CategoryGuid, new SelectList(ViewBag.Categories, "Guid", "Name"), new { @class = "form-control", @placeholder = "Катерория" })
                                    <span asp-validation-for="CategoryGuid"></span>
                                </div>
                                <br />
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Title)
                                    @Html.TextBoxFor(m => m.Title, new { @class = "form-control form-control-lg" })
                                    <span asp-validation-for="Title"></span>
                                </div>
                                <br />
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Content)
                                    @Html.TextAreaFor(m => m.Content, new { @class = "form-control", @placeholder = "Контент", @rows = "6" })
                                    <span asp-validation-for="Content"></span>
                                </div>

                                @Html.HiddenFor(m => m.Image)
                                @Html.HiddenFor(m => m.Guid)

                                <div>
                                    <label asp-for="ImageFile"></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" value="@Model?.Image" readonly>
                                        <span class="input-group-btn">
                                            <span class="btn btn-default btn-file">
                                                <i class="fas fa-upload"></i>
                                                <input asp-for="ImageFile" type="file" id="imgInp" accept="image/*">
                                            </span>
                                        </span>
                                    </div>
                                    <div class="m-2 text-center col-12 col-sm-12">
                                        <img id="blah" style="max-width: 100%; height: auto;" src="@Url.Action("GetPostImage","Posts",new { fileName = string.IsNullOrWhiteSpace(Model?.Image)?"default.png" : Model?.Image })" />
                                    </div>
                                </div>
                                <script>
                                    imgInp.onchange = evt => {
                                        const [file] = imgInp.files
                                        if (file) {
                                            blah.src = URL.createObjectURL(file)
                                        }
                                    }
                                </script>
                                <br />
                                <div class="row">
                                    <div class="col ">
                                        <button class="btn btn-success float-right">
                                            <i class="fas fa-save" style="margin-right:10px"></i> Сохранить
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </form>
    </div>
</div>

@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}

@section Styles {
    <link rel="stylesheet" href="~/lib/jquery-validation/dist/validation.css">
}

@section BreadcrumbItems {
    <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Главная</a></li>
    <li class="breadcrumb-item active"><a asp-controller="Posts" asp-action="Index">Пости</a></li>
    <li class="breadcrumb-item active"><a asp-controller="PostCas" asp-action="Details" asp-route-id="@Model?.Guid">@Model?.Guid</a></li>
    <li class="breadcrumb-item active">@ViewData["Title"]</li>
}
