@inject DreamBook.Application.Abstraction.AppLanguageManager AppLanguageManager;
@model DreamBook.Application.Ads.AdWithTranslationsResponseModel
@{
    ViewData["Title"] = "Реклама";
}

<div class="row">
    <div class="col-md-2">
        @await Html.PartialAsync("PartialViews/_ActionsCard", new List<(string Link, string Label, string Icon)>
        {
            (@Url.Action("Edit", "Ads", new{ Id = @Model.Guid }) , "Редактировать", "fa-edit"),
            (@Url.Action("Delete", "Ads", new{ Id = @Model.Guid }) , "Удалить", "fa-times"),
            (@Url.Action("Index", "Ads") , "Список реклам", "fa-list"),
            (@Url.Action("Create", "Ads") , "Новая реклама", "fa-plus"),
        })
    </div>
    <div class="col-md-10">
        <div class="card card-info card-outline">
            <div class="card-header">
                <h3 class="card-title">@ViewData["Title"]</h3>
            </div>
            <div class="card-body">
                <div>
                    <div>
                        <div class="row">
                            <div class="m-2 text-center col-0 col-sm-2"></div>
                            <div class="m-2 col-12 col-sm-8">
                                <div class="text-center">
                                    <a href="@Model.Source">
                                        <img id="blah" style="max-width: 100%; height: auto;" class="text-center" src="@Url.Action("GetAdImage","Ads",new { fileName = string.IsNullOrWhiteSpace(Model.Image)?"default.png" : Model.Image })" />
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-2 col-sm-2">
                                <div class="nav flex-column nav-tabs h-100" id="vert-tabs-tab" role="tablist" aria-orientation="vertical">
                                    @{ 
                                        @foreach (var language in AppLanguageManager.SupportLanguages)
                                        {
                                            var activeClass = language.IsDefault ? "active" : "";
                                            <a class="nav-link @activeClass" id="vert-tabs-home-tab" data-toggle="pill" href="#vert-tabs-@language.Code" role="tab" aria-controls="vert-tabs-@language.Code">@language.Name</a>
                                        }
                                    }
                                </div>
                            </div>
                            <div class="col-8 col-sm-8">
                                <div class="tab-content" id="vert-tabs-tabContent">
                                    @{ 
                                        int index = 0;
                                        @foreach (var language in AppLanguageManager.SupportLanguages)
                                        {
                                            var activeClass = language.IsDefault ? "show active" : "";

                                            <div class="tab-pane text-left fade @activeClass" id="vert-tabs-@language.Code" role="tabpanel" aria-labelledby="vert-tabs-@language.Code-tab">
                                                <h1 class="text-center">@Model.Translations[index].Title</h1>
                                                <div class="comment-text text-justify">
                                                    @Html.Raw(@Model.Translations[index].Description);
                                                </div>
                                                <br />
                                            </div>
                                            index++;
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {

}

@section Styles {
}

@section BreadcrumbItems {
    <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Главная</a></li>
    <li class="breadcrumb-item active"><a asp-controller="Ads" asp-action="Index">Рекламы</a></li>
    <li class="breadcrumb-item active">@Model.Guid</li>
}
