@inject DreamBook.Application.Abstraction.AppLanguageManager AppLanguageManager;
@model DreamBook.Application.Interpretations.CreateInterpretationRequestModel;
@{

    ViewData["Title"] = "Новый сонник";
}

<div class="row">
    <div class="col-md-2">
        @await Html.PartialAsync("PartialViews/_ActionsCard", new List<(string Link, string Label, string Icon)>
        {
            (@Url.Action("Index", "Interpretations") , "Список сонников", "fa-list"),
        })
    </div>

    <div class="col-md-10">
        <form asp-antiforgery="true" asp-action="Create" asp-controller="Interpretations" class="form-group">
            <div class="card card-info card-outline">
                <div class="card-header">
                    <h3 class="card-title">@ViewData["Title"]</h3>
                </div>
                <div class="card-body">
                    <div>
                        <div class="validation" asp-validation-summary="ModelOnly"></div>
                        <div>
                            <div class="row">
                                <div class="col-2 col-sm-2">
                                    <div class="nav flex-column nav-tabs h-100" id="vert-tabs-tab" role="tablist" aria-orientation="vertical">
                                        @{
                                            @foreach (var language in AppLanguageManager.SupportLanguages)
                                            {
                                                var activeClass = language.IsDefault ? "active" : "";

                                                <a class="nav-link @activeClass" id="vert-tabs-home-tab" data-toggle="pill" href="#vert-tabs-@language.Code" role="tab" aria-controls="vert-tabs-@language.Code">@language.Name</a>
                                            }
                                        }
                                    </div>
                                </div>
                                <div class="col-10 col-sm-10">
                                    <div class="tab-content" id="vert-tabs-tabContent">
                                        @{
                                            int index = 0;
                                            @foreach (var language in AppLanguageManager.SupportLanguages)
                                            {
                                                var activeClass = language.IsDefault ? "show active" : "";

                                                <div class="tab-pane text-left fade @activeClass" id="vert-tabs-@language.Code" role="tabpanel" aria-labelledby="vert-tabs-@language.Code-tab">
                                                    
                                                    <label asp-for="Translations[index].Description"></label><br />
                                                    <textarea class="form-control summernote" asp-for="Translations[index].Description" rows="3" placeholder="Description ..."></textarea>
                                                    <span asp-validation-for="Translations[index].Description"></span>

                                                    <input type="hidden" asp-for="Translations[index].LanguageGuid" value="@language.Guid">

                                                </div>
                                                index++;
                                            }

                                        }
                                    </div>
                                    <br />
                                    <div class="row">
                                        <div class="col ">
                                            <button class="btn btn-success float-right">
                                                <i class="fas fa-save" style="margin-right:10px"></i> Сохранить
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/plugins/summernote/summernote-bs4.min.js"></script>
    <script src="~/plugins/summernote/lang/summernote-ru-RU.min.js"></script>
    <script>
        $('.summernote').summernote({
            tabsize: 4,
            height: 200,
            lang: 'ru-RU',
            toolbar: [
                ['style', ['style']],
                ['font', ['bold', 'underline', 'clear']],
                ['color', ['color']],
                ['insert', ['link']],
                ['view', ['fullscreen', 'help']]
            ]
        })
    </script>
}

@section Styles {
    <link rel="stylesheet" href="~/lib/jquery-validation/dist/validation.css">
    <link rel="stylesheet" href="~/plugins/summernote/summernote-bs4.min.css">
    <link rel="stylesheet" href="~/css/site.css">

}

@section BreadcrumbItems {
    <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Главная</a></li>
    <li class="breadcrumb-item active"><a asp-controller="Interpretations" asp-action="Index">Сонник</a></li>
    <li class="breadcrumb-item active">@ViewData["Title"]</li>
}
